<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARl32688LixIl3KwIRx46w_gqw2dvlrV0</string>
	<key>GCM_SENDER_ID</key>
	<string>790943271641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.stepit</string>
	<key>PROJECT_ID</key>
	<string>stepit-2de8f</string>
	<key>STORAGE_BUCKET</key>
	<string>stepit-2de8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790943271641:ios:0734aaef7572cb1ecd8cc8</string>
</dict>
</plist>